/*
$body-bg: #343a40;
$body-color: #f8f9fa;
*/



.margin-lr-30 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.padding-tb-std {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-top-10 {
  padding-top: 1rem;
}

.margin-tb-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.padding-20 {
  padding: 2rem !important;
}
